/*
HEADER
*/

.logo{
    height: 4rem;
    width: 8rem;
    background-color: map-get($colors, color2);
    img{
        height: 2rem;
        width: 4rem;
        margin: 1rem 2rem;
    }
}
.social-header{
    display: none;
}
/*
MENU

#menuPrincipale{
    display: none;
}*/
#menuPrincipale {
    position: absolute;
    top: 0;
    }
.l-main-menu.open{
    transform: translateX(0%);
    transition: transform 0.4s;
} 
.l-main-menu{
    height: 100vh;
    background-color: map-get($colors, main);
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    z-index: 500;
    transform: translateX(-100%);
    transition: transform 0.4s;


    
    ul{
        display: flex;
        flex-direction: column;
        
        list-style-type: none;
        margin: auto;
        
    }
    li{
        padding: 6px 0;
        
    }    
    a{
        position: relative;
        list-style: none;
        text-decoration: none;
        display: block;
        padding: 1rem 0;
        color: map-get($colors, color1);
        transition: 0.5s;
        margin: 1rem 0;
        text-align: center;

        &::after {
            position: absolute;
            content: "";
            top: 85%;
            left: 0;
            width: 100%;
            height: 3px;
            background: map-get($colors, color2);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
        }

        &:hover {
            color:  map-get($colors, color4);
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
        

    }
}

/*
HAMBURGER
*/
.burger-box{
    position: absolute;
    right: 2rem;
    top:2rem;
}
.nav-hamburger{
    position: relative;
    
    width: 42px;
    height:24px;
    
    cursor: pointer;
}
.nav-hamburger span{
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    top: 50%;
    
    background-color: map-get($colors, color2);
}
.nav-hamburger span::before, .hamburger span::after{
    content: '';
    transform: translateX(50%);
    position: absolute;
    width:100%;
    height: 4px;
    background-color: map-get($colors, color2);
    
}
.nav-hamburger span::before{
    transform: translateY(10px);
    
}
.nav-hamburger span::after{
    transform: translateY(-10px);
}
/*
LAYOUT
*/

.wrap{
    max-width: 1400px;
    margin: 0 auto;
}
.colored{
    color: map-get($colors, color2);
}

/*
FOOTER
*/
footer{
    position: relative;
    background-color: black;
    text-align: center;
    padding: 0 1rem;
    a{
        text-decoration: none;
        color: map-get($colors, color2);
        font-weight: bold;
    }
    #top{
        position: absolute;
        top: -1.5rem;
        left: calc(50% - 3rem);
        background-color: map-get($colors, color3);
        color: map-get($colors, color1);
        text-decoration: none;
        padding: 1rem;
    }

    .copyright{
        margin-top: 3rem;
    }
    .social-footer{
        margin: 0 auto;
        width : 25rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        display:flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 2px solid map-get($colors, color4);

        
        .fab{
            font-size: 1.5rem;
            color: map-get($colors, color4);
            margin: 0 1rem;
        }
    }
    .logo-footer{
        color: map-get($colors, color4);
        margin: 4rem 0;
        height: 4rem;
        width: 8rem;
        display: inline-block;

        img{
            color: map-get($colors, color4);
        }
    }
    
}




@media only screen and (min-width: 1100px){
    footer{
        padding: 0 20rem;
    }
}