.section-home{
    height: 50rem;
    background-image: url("../img/hero-bg.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 60%;


}

.titre-ban{
    padding-top: 5rem;
    margin-bottom: 5rem;
}

