.section-contact{
    
    width: 100%;
        form{
            display: flex;
            
            flex-direction: column;
            div{
                padding: 1rem 0;
                
            }
        }
        input{
            width: calc(100% - 2rem);
            height: 2rem;
        }
        #message{
            height: 10rem;
            margin-bottom: 2rem;
        }
        #send{
            padding: 1rem 8rem;
            background-color: map-get($colors, color2);
            color: map-get($colors, color1);
            text-decoration: none;
            text-align: center;
        }
        h4{
            color:  map-get($colors, color2);
            font-size: 1.5rem;
            text-align: left;
            margin-bottom: 1rem;
        }
        p{
            text-align: left;
            margin-bottom: 2rem;
            

        }
}